.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
  }

  body {
      margin-bottom: 50px;
  }

  * {
    font-family: 'Montserrat Alternates', sans-serif;

  }